@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: #fbf7f4;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

/*Шапка сайта*/
.page-header {
  color: #ffffff;
  background-color: #000000;
}

.page-header-logo {
  width: 139px;
}

.navigation {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 430;
}

.navigation-user {
  max-width: 300;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: inherit;
  background-color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

.navigation-link-current {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: inherit;
  background-color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

.open-modal-window {
  background: #756157;
  border-radius: 4px;
}

/*Интро*/
.intro-container {
  width: 1200px;
}

.intro {
  color: #000000;
  background: #81b3d3;
  width: 458px;

  background-repeat: no-repeat;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  padding-top: 51px;
  padding-bottom: 82px;
  padding-left: 371px;
  padding-right: 371px;
  margin-left: 24px;
  margin-right: 16px;
}

.title-index {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.title-description {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

/*Главная часть*/
.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.advantage-number-1 {
  display: flex;
}

.unnumbered-parent {
  display: flex;
}

.advantage-house {
  display: flex;
}

.advantage-food {
  display: flex;
}

.advantage-souvenirs {
  display: flex;
}

.advantage-number-2 {
  display: flex;
  text-align: center;
}

.advantage-number-3 {
  display: flex;
  text-align: center;
}

.advantage-number-4 {
  width: 400px;
  text-align: center;
  display: flex;
}

.advantage-number-5 {
  display: flex;
  text-align: center;
}

.advantages-list-numbered {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.advantages-item-numbered-white {
  color: #ffffff;
  background: #82b3d3;
}

.advantages-list-unnumbered {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/*ПОИСК ГОСТИНИЦЫ В СЕДОНЕ*/

.hotel-search-container {
  width: 1200px;
  display: flex;
  text-align: center;
}

.hotel-search-title {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.hotel-search-description {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.hotel-search-button {
  background-color: #756157;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

/*Рассылка */
.newsletter-container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.newsletter {
  background-image: url("../images/footer-images/footer-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  background-size: 100% auto;
}

.page-footer-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}

.page-footer-description {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #000000;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
}

/*Контакты*/
.contacts-container {
}

.footer-contacts {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

/*Каталог */

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-group {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-item {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.button-apply {
  background: #82b3d3;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.catalog-footer-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
}

.catalog-footer-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
}

.button-newsletter-button {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: rgb(52, 93, 205);
}
