/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 5 version
*/

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

html {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: #fbf7f4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

/*Шапка сайта*/

.navigation {
  color: #ffffff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: -33px;
  margin: -23px;
}

.page-header-logo {
  margin-left: 21px;
}

.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 5 version
*/

.navigation-logo {
  padding-left: 70px;
  padding-right: 30px;
  margin-top: 22px;
  margin-left: -25px;
  margin-right: -1px;
}

.navigation-list {
  list-style-type: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 34px;
  margin-right: 237px;
  margin-left: -14px;

  width: 390px;
}

.navigation-user {
  list-style-type: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 42px;
  min-height: 66px;
  margin-right: 0px;
  margin-left: -1px;
  color: #000;
}

.favorite-icon {
  margin-bottom: 7px;
}

.navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: -60px;

  text-decoration: none;

  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin-left: -13px;
  margin-right: 31px;
  text-transform: capitalize;
  text-align: center;
}

.navigation-link:hover {
  background-color: #595959;
}

.navigation-link:focus {
  -webkit-box-shadow: inset 0 0 0 4px #e7e7e7;
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}

.navigation-link-current {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000;


  text-decoration: underline;
  text-transform: capitalize;
  text-align: center;
}

.open-modal-window {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #756157;
  color: #ffffff;

  border-radius: 4px;
  width: 160px;
  height: 37px;
  padding: 9px 15px 8px 15px;
  border: none;
  cursor: pointer;
  margin-top: 14px;
  margin-right: 3px;
  margin-bottom: 14px;
  margin-left: -29px;
}

/*Интро*/

.intro {
  background-repeat: no-repeat;
  width: 1200px;
  color: #000000;
  background-color: #ffffff;
  height: 485px;
  background-image: url("../images/index-background.jpg");
  margin-left: -25px;
  background-size: 100% auto;
}

.intro-text {
  height: 282px;
}

.intro-img {
  margin-left: 368px;
  margin-top: 52px;
}

.divider-photo {
  margin-top: 19px;
}

.title-index {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;

  padding-top: 25px;
  padding-left: 212px;
  padding-right: 261px;
  padding-bottom: 21px;
  margin-top: 37px;
  margin-left: 22px;
  margin-right: 27px;
}

.title-description {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;

  padding-top: 35px;
  padding-left: 239px;
  padding-right: 290px;
  padding-bottom: 31px;
}

/*Главная часть*/
.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1200px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantage-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1200px;
  margin-top: -37px;
  margin-right: 25px;
  margin-left: -26px;
}

.advantage-number-1 {
  text-align: center;

  padding: 56px 85px 92px 85px;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantage__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantage__number {
  margin-top: 19px;
}

.advantage__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.icon-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  text-align: center;
  width: 1200px;
}

.advantage-icon-home {
  padding: 80px 85px 81px 85px;
  margin: 0;
  text-align: center;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
  color: #333333;
  margin-left: -26px
}

.feature-home {
  margin-left: 77px;
  margin-right: 77px;
  margin-bottom: 30px;
}

.advantage-icon__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantage-icon__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantage-icon-food {
  padding: 80px 85px 81px 85px;
  margin: 0;
  text-align: center;
  width: 400px;
  background-color: #ffffff;
  color: #333333;
}

.feature-food {
  margin-left: 77px;
  margin-right: 77px;
  margin-bottom: 30px;
}

.advantage-icon-souvenirs {
  padding: 80px 85px 81px 85px;
  margin: 0;
  text-align: center;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
  color: #333333;
}

.feature-souvenirs {
  margin-left: 77px;
  margin-right: 77px;
  margin-bottom: 30px;
}

.advantage-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin-left: -26px
}

.advantage-blue-right {
  padding: 92px 85px 92px 85px;
  margin: 0;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  margin-bottom: 5px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1200px;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: -5px;
  margin-left: -26px
}

.advantage-number-3 {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  width: 400px;
  padding-top: 103px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 72px;
}

.advantage-number-4 {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.2);
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 400px;
  padding-top: 103px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 72px;
}

.advantage-number-5 {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  width: 400px;
  padding-top: 103px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 72px;
}

.advantage-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

/*ПОИСК ГОСТИНИЦЫ В СЕДОНЕ*/

.hotel-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
}

.hotel-search-title {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  padding-top: 91px;
  padding-left: 451px;
  padding-right: 451px;
  padding-bottom: 29px;
}

.hotel-search-description {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;

  padding-top: 29px;
  padding-left: 304px;
  padding-right: 304px;
  padding-bottom: 56px;
}

.btn-find {
  background-color: #756157;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 574px;
  text-decoration: none;

  margin-top: 56px;
  margin-left: 313px;
  margin-right: 313px;
  margin-bottom: 93px;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
}

/*Рассылка */

.newsletter {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 45px;

  background-image: url("../images/footer-images/footer-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  background-size: 100% auto;
}

.page-footer-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;

  padding: 0;

  margin-left: 198px;
  margin-right: 198px;
  margin-bottom: 29px;
}

.page-footer-description {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;

  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
  padding: 0;

  margin-top: 29px;
  margin-left: 163px;
  margin-right: 163px;
  margin-bottom: 46px;
}

.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border: none;
}

.field {
  width: 600px;
  height: 60px;

  background: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  border: none;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 200px;
  color: #ffffff;
  background: #82b3d3;
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
  height: 60px;
}

/*Контакты*/

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1200px;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.contacts-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social {
  margin-top: 45px;
  margin-right: 41px;
  margin-bottom: 35px;
  margin-left: 70px;

  width: 142px;
  gap: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
}

.footer-phone-number {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;

  width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  margin-right: 41px;

  margin-left: 41px;
}

.page-footer-number {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;

  padding-top: 5px;
  padding-right: 195px;
  padding-left: 143px;
  padding-bottom: 5px;
}

.academy-logo {
  margin-top: 48px;
  margin-right: 70px;
  margin-bottom: 38px;
  margin-left: -59px;
}



/*Каталог */

.catalog-container {
  margin: 0 auto;
  width: 1200px;
}

.navigation-link-catalog {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000;


  text-decoration: underline;
  text-transform: capitalize;
  text-align: center;
}

/*Найдено гостиниц*/
.breadcrumbs {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.catalog-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 70px;
  padding-top: 35px;
  background-image: url(/images/catalog/Фильтр.jpg);
  color: #ffffff;
}

.home-sign {
  margin-left: -41px;
}

.arrow-sign {
  margin-left: -20px;
}

.catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.catalog-filter-group {
  border: none;
  margin-left: -20px
}

.catalog-filter-list {
  list-style-type: none;
  margin-left: -37px;
}

.legend-container {
  width: 518px;
  margin-left: 175px;
}

.level-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.line {
  border: 4px solid #FFFFFF;
}

.line-feature-first {
  background: #FFFFFF;
  border-radius: 5px;
}

.btn-group button {
  background-color: rgba(28, 28, 28, 0);
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.minimum {
  width: 143px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  background-color: rgba(28, 28, 28, 0);
  text-align: left;
}

.maximum {
  width: 143px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  background-color: rgba(28, 28, 28, 0);
  text-align: right;
}

.button-apply {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(28, 28, 28, 0);
  border: none;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

.buttons-accept-reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
}

.control-input {
  display: none;
}

.catalog-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 5px;
  width: 1200px;
  padding-left: 65px;
}

.sorting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1057px;
  margin-left: -33px;
}

.hotels-results-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1057px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  margin-top: 36px;
  margin-right: 20px;
  margin-bottom: 60.9px;
  margin-left: -57px;
  padding-left: 57px;

}

.select-control {
  width: 305px;
  padding-top: 14px;
  padding-right: 129px;
  padding-bottom: 14px;
  padding-left: 20px;

  margin-top: 30px;
  margin-right: 78px;
  margin-bottom: 56px;
  margin-left: 191px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.cards-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 30px;
  margin-right: -20px;
}

.products-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 1200px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-top: 56px;
  margin-right: 71px;
  margin-bottom: 96px;
  margin-left: 73px;
}

.product-card-price {
  margin-left: 53px;
}

.product-card {
  width: 340px;
  padding-right: 18px;
  margin-bottom: 24px;
}

.btn-more-info {
  font-family: "PT Sans", sans-serif;
  width: 140px;
  height: 37px;
  background: #756157;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.btn-in-favorite {
  width: 140px;
  height: 37px;
  color: #ffffff;
  background: #82B3D3;
  border: none;
  border-radius: 4px;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.btn-in-favorite-green {
  width: 140px;
  height: 37px;
  color: #ffffff;
  background: #7DB54F;
  border: none;
  border-radius: 4px;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.star-figure {
  gap: 6px;
}

.stars-range {
  margin-top: 16px;
}

.raiting-btn {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
  margin-left: 49px;

}

.btn-third {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
  margin-left: 75px;
}

.btn-forth {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
  margin-left: 98px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
  padding-top: 96px;
  padding-right: 71px;
  padding-bottom: 25px;
  padding-left: 73px;
  gap: 19px;
}

.pagination-current {
  background: #F2F2F2;
  border-radius: 4px;
  color: #000;
  border: none;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60px;
  height: 60px;

  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;

  text-align: center;
  text-decoration: none;

}

.pagination-link {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60px;
  height: 60px;

  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.show-more {
  width: 60px;
  height: 60px;
  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-container {

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
}

.pagination-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hotels-on-page {
  margin-top: 81px;

}

.select-control-hotels {
  width: 160px;
  height: 49px;
  margin-top: 69px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: 30px
}


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-window-checkbox {
  display: none;
}

.modal-window-checkbox:checked + .modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.modal-auth {
  width: 715px;
  height: 561px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  background-image: url("/images/modal-window/Закрыть.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.auth-form .field-group {
  margin: 0;
  margin-bottom: 16px;
}

.auth-form-user-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 400;
}

.auth-form-user-options .control-label {
  font-weight: 400;
}

.auth-form .field {
  width: 420px;
  height: 50px;
  background: #F2F2F2;
  border-radius: 4px;
}

.arrival-date {
  display: contents;
}

.departure-date {
  display: contents;
}

.search-form-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  height: 60px;
  margin-bottom: 16px;
  color: #ffffff;
  background: #83B3D3;
  border-radius: 10px;
  border: none;

}

.auth-form .button + .button {
  margin: 0;
}
